html{
overflow-x: hidden;
background-color: #eff7ed;
color: black;
font-family: Times, serif;
}

#forForm{
width: 100vw;
font-size: 24pt;
font-family: Times, serif;
}

#forForm2{
position: absolute;
display: block;
position: absolute;
right:30px;
top:10px;
}

#forForm2 button{
height: 42.25px;
width: 80px;
text-align:center;
margin-top: 20px;
border: solid 1pt black;
border-radius: 10px;
outline: solid 2pt #eff7ed;
outline-offset: 2pt;
color: black;
font-family: Arial, sans-serif;
font-size: 11pt;
padding-left: 1.75px;
background-color: #eff7ed;
}


form{
margin-top: 20px;
margin-left: 20px;
}

#forForm input, #forForm button{
margin-top: 20px;
border: solid 1pt black;
border-radius: 10px;
outline: solid 2pt #eff7ed;
outline-offset: 2pt;
margin-right:5px;
color: black;
font-family: Times, serif;
font-size: 13pt;
background-color: #eff7ed;
}

#forForm input{
height: 37px;
padding-left:10px;
width: 150px;
text-align:left;
}

#forForm button{
height: 42.25px;
width: 80px;
text-align:center;
line-height: 1.5;
}


#wrap{
padding: 30px;
border: solid 1pt black;
border-radius: 10px;
margin: 20px;
}

#note{
font-family: Times, serif;
font-size: 24pt;
margin-bottom: 10px;
}

#dated{
font-family: Times, serif;
font-size: 12pt;
margin-left: 10px;
}

#board{
margin-bottom: 80px;
}

#datestamp{
position: fixed;
z-index: 100;
bottom: 0px;
left: 0px;
width: 100vw;
height: 40px;
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
background-color: #eff7ed;
font-family: Times, serif;
font-size: 24pt;
}