html{
overflow-x: hidden;
background-color: #eff7ed;
color: black;
font-family: Times, serif;
}

#forForm{
width: 100vw;
font-size: 24pt;
font-family: Times, serif;
}

form{
margin-top: 20px;
margin-left: 20px;
}

input, button{
margin-top: 20px;
margin-left: 0px;
margin-right:5px;
height: 40px;
width: auto;
border: solid 1pt black;
border-radius: 10px;
outline: solid 2pt #eff7ed;
outline-offset: 1pt;
color: black;
font-size: 13pt;
}

input{
font-family: Times, serif;
background-color: #eff7ed;
padding-left:10px;
}

button{
background-color: #eff7ed;
}


#wrap{
padding: 30px;
border: solid 1pt black;
border-radius: 10px;
margin: 20px;
}

#note{
font-family: Times, serif;
font-size: 24pt;
margin-bottom: 10px;
}

#dated{
font-family: Times, serif;
font-size: 12pt;
margin-left: 10px;
}

#board{
margin-bottom: 80px;
}

#datestamp{
position: fixed;
z-index: 100;
bottom: 0px;
left: 0px;
width: 100vw;
height: 40px;
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
background-color: #eff7ed;
font-family: Times, serif;
font-size: 24pt;
}